<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    
    <servlet>
        <servlet-name>SubmitOrder</servlet-name>
        <servlet-class>SubmitOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitOrder</servlet-name>
        <url-pattern>/SubmitOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitReview</servlet-name>
        <servlet-class>SubmitReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitReview</servlet-name>
        <url-pattern>/SubmitReview</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>ViewReviews</servlet-name>
        <servlet-class>ViewReviews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReviews</servlet-name>
        <url-pattern>/ViewReviews</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>Buy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/Buy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Reviews</servlet-name>
        <servlet-class>Reviews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reviews</servlet-name>
        <url-pattern>/Reviews</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Microsoft</servlet-name>
        <servlet-class>Microsoft</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Microsoft</servlet-name>
        <url-pattern>/Microsoft</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderPage</servlet-name>
        <servlet-class>OrderPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderPage</servlet-name>
        <url-pattern>/OrderPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sony</servlet-name>
        <servlet-class>Sony</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sony</servlet-name>
        <url-pattern>/Sony</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Nintendo</servlet-name>
        <servlet-class>Nintendo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Nintendo</servlet-name>
        <url-pattern>/Nintendo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>addProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>deleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateProduct</servlet-name>
        <servlet-class>updateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>addToCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>deleteItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>proceedToCheckout</servlet-name>
        <servlet-class>proceedToCheckout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>proceedToCheckout</servlet-name>
        <url-pattern>/proceedToCheckout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>placeOrder</servlet-name>
        <servlet-class>placeOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>placeOrder</servlet-name>
        <url-pattern>/placeOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Accessory</servlet-name>
        <servlet-class>Accessory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accessory</servlet-name>
        <url-pattern>/Accessory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EA</servlet-name>
        <servlet-class>EA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EA</servlet-name>
        <url-pattern>/EA</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Activision</servlet-name>
        <servlet-class>Activision</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activision</servlet-name>
        <url-pattern>/Activision</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Take</servlet-name>
        <servlet-class>Take</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Take</servlet-name>
        <url-pattern>/Take</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Warranty</servlet-name>
        <servlet-class>Warranty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Warranty</servlet-name>
        <url-pattern>/Warranty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrackOrder</servlet-name>
        <servlet-class>TrackOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrackOrder</servlet-name>
        <url-pattern>/TrackOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>CancelOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>classicmovies</servlet-name>
        <servlet-class>classicmovies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>classicmovies</servlet-name>
        <url-pattern>/classicmovies</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>AAmovies</servlet-name>
        <servlet-class>AAmovies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AAmovies</servlet-name>
        <url-pattern>/AAmovies</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>animatedmovies</servlet-name>
        <servlet-class>animatedmovies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>animatedmovies</servlet-name>
        <url-pattern>/animatedmovies</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>comedymovies</servlet-name>
        <servlet-class>comedymovies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>comedymovies</servlet-name>
        <url-pattern>/comedymovies</url-pattern>
    </servlet-mapping>   
<servlet>
        <servlet-name>popmusic</servlet-name>
        <servlet-class>popmusic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>popmusic</servlet-name>
        <url-pattern>/popmusic</url-pattern>
    </servlet-mapping>  
<servlet>
        <servlet-name>fwmusic</servlet-name>
        <servlet-class>fwmusic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fwmusic</servlet-name>
        <url-pattern>/fwmusic</url-pattern>
    </servlet-mapping>  
<servlet>
        <servlet-name>rhiphopmusic</servlet-name>
        <servlet-class>rhiphopmusic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rhiphopmusic</servlet-name>
        <url-pattern>/rhiphopmusic</url-pattern>
    </servlet-mapping> 
<servlet>
        <servlet-name>countrymusic</servlet-name>
        <servlet-class>countrymusic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>countrymusic</servlet-name>
        <url-pattern>/countrymusic</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>actionshows</servlet-name>
        <servlet-class>actionshows</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>actionshows</servlet-name>
        <url-pattern>/actionshows</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>horrorshows</servlet-name>
        <servlet-class>horrorshows</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>horrorshows</servlet-name>
        <url-pattern>/horrorshows</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>dramashows</servlet-name>
        <servlet-class>dramashows</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dramashows</servlet-name>
        <url-pattern>/dramashows</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>cartoonshows</servlet-name>
        <servlet-class>cartoonshows</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartoonshows</servlet-name>
        <url-pattern>/cartoonshows</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>football</servlet-name>
        <servlet-class>football</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>football</servlet-name>
        <url-pattern>/football</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>cricket</servlet-name>
        <servlet-class>cricket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cricket</servlet-name>
        <url-pattern>/cricket</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>basketball</servlet-name>
        <servlet-class>basketball</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>basketball</servlet-name>
        <url-pattern>/basketball</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>soccer</servlet-name>
        <servlet-class>soccer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>soccer</servlet-name>
        <url-pattern>/soccer</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>mwoodsigns</servlet-name>
        <servlet-class>mwoodsigns</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mwoodsigns</servlet-name>
        <url-pattern>/mwoodsigns</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>mwallstickers</servlet-name>
        <servlet-class>mwallstickers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mwallstickers</servlet-name>
        <url-pattern>/mwallstickers</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>mgiantposters</servlet-name>
        <servlet-class>mgiantposters</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mgiantposters</servlet-name>
        <url-pattern>/mgiantposters</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>usa</servlet-name>
        <servlet-class>usa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usa</servlet-name>
        <url-pattern>/usa</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>canada</servlet-name>
        <servlet-class>canada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>canada</servlet-name>
        <url-pattern>/canada</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>china</servlet-name>
        <servlet-class>china</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>china</servlet-name>
        <url-pattern>/china</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>india</servlet-name>
        <servlet-class>india</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>india</servlet-name>
        <url-pattern>/india</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>japan</servlet-name>
        <servlet-class>japan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>japan</servlet-name>
        <url-pattern>/japan</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>iran</servlet-name>
        <servlet-class>iran</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iran</servlet-name>
        <url-pattern>/iran</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>uk</servlet-name>
        <servlet-class>uk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uk</servlet-name>
        <url-pattern>/uk</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>germany</servlet-name>
        <servlet-class>germany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>germany</servlet-name>
        <url-pattern>/germany</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>france</servlet-name>
        <servlet-class>france</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>france</servlet-name>
        <url-pattern>/france</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>italy</servlet-name>
        <servlet-class>italy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>italy</servlet-name>
        <url-pattern>/italy</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>spain</servlet-name>
        <servlet-class>spain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>spain</servlet-name>
        <url-pattern>/spain</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>photography</servlet-name>
        <servlet-class>photography</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>photography</servlet-name>
        <url-pattern>/photography</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>animalhumor</servlet-name>
        <servlet-class>animalhumor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>animalhumor</servlet-name>
        <url-pattern>/animalhumor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bathroomhumor</servlet-name>
        <servlet-class>bathroomhumor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bathroomhumor</servlet-name>
        <url-pattern>/bathroomhumor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>marvelcomics</servlet-name>
        <servlet-class>marvelcomics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>marvelcomics</servlet-name>
        <url-pattern>/marvelcomics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dccomics</servlet-name>
        <servlet-class>dccomics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dccomics</servlet-name>
        <url-pattern>/dccomics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>threedcomics</servlet-name>
        <servlet-class>threedcomics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>threedcomics</servlet-name>
        <url-pattern>/threedcomics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>indiancelebraty</servlet-name>
        <servlet-class>indiancelebraty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indiancelebraty</servlet-name>
        <url-pattern>/indiancelebraty</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>frenchcelebraty</servlet-name>
        <servlet-class>frenchcelebraty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>frenchcelebraty</servlet-name>
        <url-pattern>/frenchcelebraty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>americancelebraty</servlet-name>
        <servlet-class>americancelebraty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>americancelebraty</servlet-name>
        <url-pattern>/americancelebraty</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>angrybird</servlet-name>
        <servlet-class>angrybird</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>angrybird</servlet-name>
        <url-pattern>/angrybird</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>battlefield3</servlet-name>
        <servlet-class>battlefield3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>battlefield3</servlet-name>
        <url-pattern>/battlefield3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>battlefield4</servlet-name>
        <servlet-class>battlefield4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>battlefield4</servlet-name>
        <url-pattern>/battlefield4</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>callofduty</servlet-name>
        <servlet-class>callofduty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>callofduty</servlet-name>
        <url-pattern>/callofduty</url-pattern>
    </servlet-mapping>
 <servlet>
        <servlet-name>addToCart1</servlet-name>
        <servlet-class>addToCart1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart1</servlet-name>
        <url-pattern>/addToCart1</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>com.ajax.AutoCompleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>Todaydeal</servlet-name>
        <servlet-class>Todaydeal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Todaydeal</servlet-name>
        <url-pattern>/Todaydeal</url-pattern>
    </servlet-mapping>



</web-app>
