.moveit{
	
	position: relative;
	left:5px;
	top:-492px;
    display: inline-block;
	width:20px;
	margin-top:-100px;
	margin-left:220px;
    padding:10px;
	padding-right:-280px;
	padding-bottom:-45px;
	height:60px;
	
}

/*#itemId{
	position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}*/

.submit-button{
position: relative;
left: 150px;
top:-190px;

height:35px;


cursor:pointer;

font-weight:bold;
width:285px;

}
.moveit img{
	width:280px;
	height:180px
}
.btn5{
position: relative;
left: -105px;
top:15px;

height:55px;
box-shadow:0px 0px 30px skyblue;
cursor:pointer;
background-color:skyblue;
font-weight:bold;
font-size:40px;
width:410px;
}
.btn5:hover{
background:skyblue;
font-weight:bold;
}

.submit-button:hover{

font-weight:bold;
}
